@import "styles/mixings";

.container {
  padding-left: 250px;
  padding-right: 250px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;

  @include media-breakpoint-only(md) {
    padding-left: 150px;
    padding-right: 150px;
  }

  @include media-breakpoint-only(sm) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include media-breakpoint-only(xs) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.containerCard {
  text-align: center;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  height: auto;
  width: 310px;
  margin-top: 30px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 28px rgba(0, 0, 0, 0.1), 0 2px 30px rgba(0, 0, 0, 0.1);
  }

  @include media-breakpoint-down(md) {
  }
}

.image {
  max-width: 230px;
}

.title {
  margin-top: 80px;
  text-align: center;
  z-index: 100;
  line-height: 50px;
  font-size: 40px;
  color: $title;
  @include site-font(title, 700);

  @include media-breakpoint-between(lg, xl) {
    line-height: 50px;
    font-size: 36px;
  }

  @include media-breakpoint-between(sm, md) {
    line-height: 40px;
    font-size: 28px;
    margin-bottom: 20px;
  }

  @include media-breakpoint-only(xs) {
    line-height: 40px;
    font-size: 28px;
    margin-top: -20px;
    margin-bottom: 20px;
  }
}

.subTitle {
  z-index: 100;
  line-height: 50px;
  font-size: 20px;
  color: $title;
  @include site-font(title, 700);

  // @include media-breakpoint-between(lg, xl) {
  //   line-height: 50px;
  //   font-size: 36px;
  // }

  // @include media-breakpoint-between(sm, md) {
  //   line-height: 40px;
  //   font-size: 28px;
  //   margin-bottom: 20px;
  // }

  // @include media-breakpoint-only(xs) {
  //   line-height: 40px;
  //   font-size: 28px;
  //   margin-top: -20px;
  //   margin-bottom: 20px;
  // }
}
