.select {
  width: 100%;
  margin-top: 5px;
  border-radius: 4px;
  font-family: var(--main-font-regular);
  box-sizing: border-box;
  height: 48px;
  background-color: var(--input-backgound);

  &:focus {
    outline: 0;
    height: 48px;
    border-radius: 4px;
    border: 1px solid var(--input-hover);
  }

  &:hover {
    border-radius: 4px;
    height: 48px;
    border-color: 1px solid var(--input-hover);
  }

  &::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: var(--input-placeholder);
    font-family: var(--main-font);
  }

  &.isError {
    border: 1px solid var(--input-error);
  }
  > div {
    min-height: 100%;
  }
}
