@import "styles/mixings";

.containerButton {
  margin-left: -5px;
  color: $title;

  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.containerLinks {
  @include media-breakpoint-down(xs) {
    display: none;
  }
}
