@import '../../styles/variable.scss';
@import '../../styles/mixings.scss';

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    
    @include media-breakpoint-only(xs) {
      justify-content: center;
      margin: 20px 20px 10px 10px;
    }

  }

  .containerFilters {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
  }

  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 300;
    letter-spacing: 1.5px;
    background-color: $filters;
    color: $ligth;
    padding: 5px 10px 7px 10px;
    border-radius: 20px;
    font-size: 12px;
    min-width: 140px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: rgba(92, 107, 192, 0.482);
    }
  }

  .icons {
    margin-top: 2px;
    margin-left: 10px;
    
    &:hover {
      color: rgba(255, 255, 255, 0.359);
    }
  }