
.iconTitle {
  display: flex;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
}

.icon {
  margin-left: 30px;
}

.title {
  margin-left: 15px;
}

.containerData {
  display: flex;
  margin-top: 20px;
}