@import 'styles/mixings.scss';

.iconTitle {
  display: flex;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
}

.icon {
  margin-left: 30px;
  color: $title;

  @include media-breakpoint-only(xs) {
    margin-left: 10px;
  }
}

.title {
  letter-spacing: 1px;
  text-align: center;
  @include site-font('text', 600);
  color: $filters;
  margin-left: 15px;

  @include media-breakpoint-only(xs) {
    font-size: 11px;
  }
}

.infoTitle {
  letter-spacing: 1px;
  margin-left: 15px;
  text-align: right;
  width: 150px;
  color: $filters;

  @include site-font('text', 400);
  @include media-breakpoint-only(xs) {
    font-size: 11px;
    margin-left: 0;
    margin-right: 10px;
  }
}

.containerData {
  display: flex;
  align-items: center;
  padding: 15px 44px 15px 20px;

  &:hover {
    border-radius: 5px;
    background-color: $colorLight;
  }

  @include media-breakpoint-only(xs) {
    font-size: 11px;
    padding: 14px 0 15px 0;
  }
}
