@import 'styles/variable.scss';
@import 'styles/mixings.scss';

.textarea {
  width: 100%;
  border: 1px solid $borderPrimary;
  box-shadow: none;
  padding: 10px 0 10px 10px;
  border-radius: 4px;
  font-family: 'Noto Sans HK', sans-serif;
  box-sizing: border-box;
  outline: none;

  &:focus {
    border-radius: 4px;
    border: 1px solid $borderPrimary;
  }

  &:hover {
    border-radius: 4px;
    border: 1px solid $secundary;
  }

  &::placeholder {
    font-size: 15px;
    font-family: 'Noto Sans HK', sans-serif;
  }
}

.isError {
  border: 1px solid $error !important;
}

.value {
  color: $title;
  padding-top: 5px;
  padding-bottom: 2px;
  border-bottom: 1px solid $borderPrimary;
}

.label {
  color: $title;
}

textarea {
  padding: 5px;
}

.errorMessage {
  margin-left: 5px;
  margin-top: 5px;
  font-size: 10px;
  color: red;
}
