.containerGalery {
  position: relative;
}
.galery {
  display: flex;
  justify-content: space-around;
  flex: 1;
  flex-wrap: wrap;
}

.colGalery {
  margin-top: 30px;
}

.imageGalery {
  height: auto;
  max-width: 300px;
  animation: fadeIn 1s;
  border-radius: 10px;
}

.containerButtons {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
