@import 'styles/mixings';

.button {
  border: none;
  background-color: var(--background-button-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-icon-and-text);
  border-radius: 20px;
  height: 45px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 7px 22px -2px rgba(0, 0, 0, 0.25);

    &.circle {
      background-color: var(--color-text-light);
      color: var(--background-button-secundary);
    }
  }

  &:disabled {
    background: #dddddd;
    color: var(--icon-and-text-selected);
  }

  &:focus {
    background-color: var(--icon-and-text-selected);
    transform: translateY(-0.25em);
    box-shadow: 0 7px 22px -2px rgba(0, 0, 0, 0.25);
  }

  &.circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  &.transparent {
    background-color: var(--button-transparent);
  }

  &.secundary {
    &:hover {
      background-color: var(--color-icon-and-text-hover);
      color: var(--color-icon-and-text);
    }
  }
}

.text {
  width: 100%;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: var(--title-font);

  @include media-breakpoint-only(xs) {
    font-size: 14px;
  }
}

.tooltips {
  position: absolute;
  width: 100px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-top: 5px;
  padding: 10px 10px 10px 0px;
}
