@import 'styles/mixings';

.containerButtons {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.btnMargin {
  margin-left: 10px;

  @include media-breakpoint-only(xs) {
    margin-left: 2px;
  }
}

.editButton {
  padding-right: 0 !important;
  margin-left: 0;
}

.butonsShare {
  margin-left: 10px;
  border-radius: 100px;

  &:hover {
    background-color: $secundary;
    transform: translateY(-0.25em);
    box-shadow: 0 7px 22px -2px rgba(0, 0, 0, 0.25);
  }

  &:focus {
    box-shadow: 0 7px 22px -2px rgba(0, 0, 0, 0.25);
    transform: translateY(-0.25em);
    outline: 0;
  }

  @include media-breakpoint-only(xs) {
    margin: 0;
    margin-left: 2px;
  }
}

.textInformation {
  margin-top: 15px;
  text-align: center;
  color: $title;
}

.buttonLink {
  color: $ligth;
  align-items: center;
  display: flex;
  background-color: $whatsaap;
  border: none;
  border-radius: 100px;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  height: 40px;
  text-transform: capitalize;
  width: 40px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: $secundary;
    transform: translateY(-0.25em);
    box-shadow: 0 7px 22px -2px rgba(0, 0, 0, 0.25);
  }

  &:focus {
    box-shadow: 0 7px 22px -2px rgba(0, 0, 0, 0.25);
    transform: translateY(-0.25em);
    outline: 0;
  }
}

.buttonLinkQuery {
  height: 30px;
  width: 30px;
}