@import 'styles/mixings.scss';

.containerCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;
  }
}

.layourCard {
  padding-top: 15px;
}

.containerImagePet {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.imagePet {
  width: 100%;
  object-fit: cover;
  height: 400px;
  border-radius: 3px;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerInfo {
  padding: 10px 0 10px 0;
}

.icon {
  margin-left: 30px;
}

.historyPets {
  padding: 20px 20px 20px 20px;
}

.titleHistory {
  text-align: center;
  @include site-font('text', 600);
  color: $filters;
}

.history {
  margin-top: 20px;
  font-size: 14px;
  @include site-font('text', 400);
  color: $filters;
}
