@import 'styles/mixings.scss';

.goToProfile {
  display: flex;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  color: $secundaryLight;
  width: 300px;

  @include media-breakpoint-down(xs) {
    font-size: 12px;
  }
}

.iconGoToprofile {
  margin-right: 5px;
}