@import 'styles/variable.scss';
@import 'styles/globals.scss';

button:focus {
  outline: none;
}

.containerButton {
  padding: 10px;
  justify-content: center;
  display: flex;
}

.primary {
  color: $ligth;
  display: flex;
  background-color: $primary;
  border: none;
  border-radius: 50px;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  height: 38px;
  text-transform: capitalize;
  width: 175px;
  transition: 0.1s;
  cursor: pointer;
  align-items: center;

  &.bigButton {
    width: 100%;
  }

  &:hover {
    background-color: $secundary;
    transform: translateY(-0.25em);
    box-shadow: 0 7px 22px -2px rgba(0, 0, 0, 0.25);
  }

  &:disabled {
    background: #dddddd;
  }

  &:focus {
    background-color: $secundary;
    transform: translateY(-0.25em);
  }

  &:focus {
    box-shadow: 0 7px 22px -2px rgba(0, 0, 0, 0.25);
  }
}

.btnCircle {
  color: $ligth;
  display: flex;
  background-color: $primary;
  border: none;
  border-radius: 100px;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  height: 40px;
  text-transform: capitalize;
  width: 40px;
  cursor: pointer;
  transition: 0.1s;
  align-items: center;

  .transparent & {
    color: $title;
    background-color: rgba(29, 183, 255, 0) !important;
  }

  &:hover {
    background-color: $secundary;
    transform: translateY(-0.25em);
    box-shadow: 0 7px 22px -2px rgba(0, 0, 0, 0.25);
  }

  &:focus {
    box-shadow: 0 7px 22px -2px rgba(0, 0, 0, 0.25);
    transform: translateY(-0.25em);
    outline: 0;
  }
}
