@import "styles/mixings.scss";
@import "styles/globals.scss";

button:focus {
  outline: none;
}

.containerButton {
  justify-content: center;
  display: flex;

  &.bigButton {
    width: 100%;
  }
}

.primary {
  color: $title;
  display: flex;
  background-color: $primaryLight;
  border: none;
  border-radius: 50px;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  height: 38px;
  text-transform: capitalize;
  width: 175px;
  transition: 0.1s;
  cursor: pointer;
  align-items: center;

  &.bigButton {
    width: 100%;
    padding: 22px;
  }

  &:hover {
    background-color: $secundaryLight;
    color: $ligth;
    transform: translateY(-2px);
    box-shadow: 0 7px 22px -2px rgba(0, 0, 0, 0.25);
  }

  &:disabled {
    background: #dddddd;
    color: $ligth;
  }

  &:focus {
    background-color: $secundaryLight;
    transform: translateY(-0.25em);
  }

  &:focus {
    box-shadow: 0 7px 22px -2px rgba(0, 0, 0, 0.25);
  }

  @include media-breakpoint-only(xs) {
    width: 122px;
  }
}

.btnCircle {
  color: $title;
  display: flex;
  background-color: $primaryLight;
  border: none;
  border-radius: 100px;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  height: 40px;
  text-transform: capitalize;
  width: 40px;
  cursor: pointer;
  transition: 0.1s;
  align-items: center;

  .transparent & {
    background-color: rgba(29, 183, 255, 0) !important;
  }

  &:hover {
    color: $ligth;
    background-color: $secundaryLight;
    transform: translateY(-0.25em);
    box-shadow: 0 7px 22px -2px rgba(0, 0, 0, 0.25);
  }

  &:focus {
    color: $ligth;
    background-color: $secundaryLight;
    box-shadow: 0 7px 22px -2px rgba(0, 0, 0, 0.25);
    transform: translateY(-0.25em);
    outline: 0;
  }

  @include media-breakpoint-only(xs) {
    width: 40px;
    height: 40px;
  }
}
