@import 'styles/variable.scss';

.containerError {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  margin-top: 30px;
  box-shadow: 0px 0px 37px -14px rgba(0,0,0,0.25);
}

.warning {
  background-color: $borderPrimary;
}

.error {
  background-color: $error;
}

.text {
  margin-left: 20px;
  font-weight: 600;
  color: $title;
}