.userImage {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  object-fit: cover;
}

.imageProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  cursor: pointer;
  object-fit: cover;
}
