@import "styles/mixings";

.buttonMenu {
  color: $title;
  cursor: pointer;
  text-align: center;
  padding: 20px;

  @include media-breakpoint-only(xs) {
    padding: 5px;
  }
}

.containerMenu {
  position: absolute;
  background-color: $ligth;
  z-index: 1500 !important;
  min-width: 130px;
  border-radius: 5px;
  box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.18);
  transition: 200ms ease;
  top: 55px;
  right: 20px;

  @include media-breakpoint-only(xs) {
    margin-top: 2px;
    top: 50px;
    margin-left: 8px;
  }
}

.viewMenu {
  display: none;
}

.contentButtos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.buttons {
  padding: 10px 20px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  transition: 200ms ease;
  color: $title;

  &:hover {
    border-radius: 5px;
    color: $filters;
    background-color: $primaryLight;
  }

  &:target {
    background-color: $primaryLight;
    color: red;
  }
}

.text {
  font-size: 12px;
}

.buttonToggle {
  color: $title;
}
