@import 'styles/mixings';

.imageInformationLogin {
  object-fit: cover;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.imageInformation {
  width: 100%;
  object-fit: cover;
  height: 100vh;
}

