@import 'styles/mixings';

.imageInformationRegister {
  text-align: center;
  height: 100vh;
  object-fit: cover;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.imageInformation {
  width: 100%;
  height: auto;
}
