@import 'styles/mixings.scss';

.containerNavbar {
  background-color: $colorNavbar;
  position: fixed;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 0;
  z-index: 100;
}

.containerButtonslog {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.containerProfile {
  display: flex;
  justify-content: center;
  position: relative;
}

.contectImageUser {
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconClose {
  position: absolute;
  z-index: 150;
  top: 14px;
  left: 20px;
  text-align: left;
  cursor: pointer;
}

.showShadowBack {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.359);
  width: 100%;
  height: 100%;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.containerFilter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 4px;
}

.animationOpacity {
  opacity: 0;
}

