@import 'styles/mixings';

.containerNavbar {
  background-color: $primaryNavbar;
  position: fixed;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 0;
  z-index: 100;
}

.containerLanguage {
  margin-right: 12px;
  position: relative;
}

.containerButtonslog {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 0.5fr;

  @include media-breakpoint-only(xs) {
    grid-gap: 15px;
  }
}

.containerProfile {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  align-items: center;
  grid-gap: 5px;


  @include media-breakpoint-only(xs) {
    padding-right: 10px;
  }
}

.contectImageUser {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconClose {
  position: absolute;
  z-index: 150;
  top: 14px;
  left: 20px;
  text-align: left;
  cursor: pointer;
}

.showShadowBack {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.359);
  width: 100%;
  height: 100%;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.buttonSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
}

.logo {
  font-size: 15px;
  color: $title;
  font-weight: 600;

  @include media-breakpoint-only(xs) {
    font-size: 10px;
  }
}

.animationOpacity {
  opacity: 0;
}
