@import 'styles/mixings.scss';

.containerNavbar {
  background-color: $colorNavbar;
  position: fixed;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 0;
  z-index: 100;
}

.containerButtonslog {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.contectImageUser {
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconClose {
  position: absolute;
  z-index: 150;
  top: 14px;
  left: 20px;
  text-align: left;
  cursor: pointer;
}

.titleNavbar {
  color: $title;
  font-size: 14px;
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 700;
  margin-top: 80px;
  margin-left: 20px;
  animation: fadeIn 3s;
}

.containerSelects {
  overflow-y: auto;
}

.showMenu {
  position: fixed;
  z-index: 95;
  top: 0;
  left: 0px;
  background-color: white;
  width: 300px;
  height: 100%;
  transform: translateX(-100%);
  transition: 0.3s;
}

.open {
  overflow-y: auto;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0px;
  background-color: white;
  width: 300px;
  height: 100%;
  box-shadow: 0px 3px 46px -5px rgba(0, 0, 0, 0.589);
  transform: translateX(0%);
  transition: 0.3s;
}

.showShadowBack {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.359);
  width: 100%;
  height: 100%;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animationOpacity {
  opacity: 0;
}
