@import 'styles/mixings.scss';

.containerLayout {

  @include media-breakpoint-only(xs) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include media-breakpoint-only(sm) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include media-breakpoint-only(md) {
    padding-left: 100px;
    padding-right: 100px;
  }

  @include media-breakpoint-only(xl) {
    padding-left: 150px;
    padding-right: 150px;
  }

  @include media-breakpoint-only(xxl) {
    padding-left: 250px;
    padding-right: 250px;
  }
}
