@import 'styles/mixings';

.containerMenu {
  background-color: $ligth;
  position: absolute;
  z-index: 1500 !important;
  margin-top: 60px;
  min-width: 110px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.54);
  transition: 200ms ease;
  top: 8px;
  right: 100px;
}

.viewMenu {
  display: none;
}

.contentButtos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
  width: 100%;
}

.buttons {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  transition: 200ms ease;
  color: $title;

  &:hover {
    background-color: $colorNavbar;
    border-radius: 5px;
    color: $filters;
  }
}
