@import 'styles/mixings';

.containerMenu {
  position: absolute;
  background-color: $ligth;
  z-index: 1500 !important;
  min-width: 110px;
  border-radius: 5px;
  box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.18);
  transition: 200ms ease;
  top: 70px;
}

.viewMenu {
  display: none;
}

.contentButtos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.buttons {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  transition: 200ms ease;
  color: $title;

  &:hover {
    border-radius: 5px;
    color: $filters;
  }

  &:target {
    background-color: $colorNavbar;
    color: red;
  }
}
