@import 'styles/mixings';

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.containerCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  height: 300px;
  width: 100%;
  transition: 0.2s;
  background-color: var(--noDe);
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 28px rgba(0, 0, 0, 0.1), 0 2px 30px rgba(0, 0, 0, 0.1);
  }
}

.buttonAction {
  text-decoration: none;
  border: none;
  background: none;
}

.image {
  margin-top: -15px;
  max-width: 100%;
}

.subTitle {
  margin-top: -10px;
  font-size: 20px;
  color: var(--title);
  text-transform: capitalize;
  font-family: var(--text-font);

  @include media-breakpoint-only(xs) {
    font-size: 14px;
  }
}
