@import 'styles/mixings';

.container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  @include media-breakpoint-only(xs) {
    flex-direction: column;
  }
}

.card {
  margin: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  padding: 0 20px;
  height: 220px;
  transition: 0.2s;
  background-color: var(--noDe);
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 28px rgba(0, 0, 0, 0.1), 0 2px 30px rgba(0, 0, 0, 0.1);
  }
}

.buttonAction {
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
}

.image {
  margin-top: -15px;
  max-width: 150px;
}

.action {
  font-size: 18px;
  font-weight: 800;
  color: var(--title);
  font-family: var(--text-font);
}

.contentAdopterModal {
  margin-top: 50px;
}

.containerButton {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.containerButton {
  margin-top: 20px;
  bottom: 0;
  width: 100%;
}
