@import "../../../../styles/mixings.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.containerCaptcha {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
}

.columns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.containerActions {
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: flex-end;
  gap: 20px;
  background-color: var(--white);
}

.containerButtonMedicalModal {
  display: flex;
  justify-content: flex-end;
}
