@import '../../styles/mixings.scss';

.displayNone {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  margin-top: 20%;
  opacity: 0;
}

.firstPat1 {
  display: flex;
  justify-content: center;
  transform: rotate(20deg);
  margin-left: 50px;
}

.firstPat2 {
  display: flex;
  justify-content: center;
  transform: rotate(20deg);
  margin-left: 50px;
}

.firstPat3 {
  display: flex;
  justify-content: center;
  transform: rotate(20deg);
  margin-left: 50px;
}

.logoTypography {
  position: absolute;
  font-family: 'Bowlby One SC', cursive;
  color: #26418F;
  font-size: 85px;

  @include media-breakpoint-only(sm) {
    font-size: 45px;
  }
}

// individual pat
.pat1 {
  margin-left: -150px;
}

.pat2 {
  margin-left: 40px;
}

.pat3 {
  margin-left: 100px;
}

.pat9 {
  margin-left: 40px;
}

.pat10 {
  margin-left: 40px;
}

.pat7 {
  margin-left: 100px;
}

.pat8 {
  margin-left: 20px;
}

// .cat {
//   position: absolute;
//   background: url('./tuna_sprite.png') -400px 141px no-repeat;
//   width: 400px;
//   height: 190px;
//   animation-duration: 1s !important;
//   animation: cat-run .7s steps(12) infinite;
// }

// @keyframes cat-run {
//   0% {background-position: -400px 0;}
//   100% {background-position: -400px -2400px;}
// }

// .cat-dos {
//   background: url('http://stash.rachelnabors.com/img/codepen/tuna_sprite.png') -420px -6px no-repeat;
//   width: 360px;
//   height: 190px;
//   animation: cat-sit 1s steps(6) infinite;
// }

// @keyframes cat-sit {
//   0% {background-position: -420px 0;}
//   100% {background-position: -420px -1195px}
// }