# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
/node_modules
/.pnp
.pnp.js
.next
.env
.env.local
/documents

# misc
.DS_Store
.env

yarn-debug.log*
yarn-error.log*
package-lock.json

# code editor / IDE
*.code-workspace
*.idea
