@import 'styles/variable';

.open {
  overflow-y: auto;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: white;
  width: 300px;
  height: 100%;
  box-shadow: 0 3px 46px -5px rgba(0, 0, 0, 0.589);
  transform: translateX(0%);
  transition: 0.3s;
}

.showMenu {
  position: fixed;
  z-index: 95;
  top: 0;
  left: 0;
  background-color: white;
  width: 300px;
  height: 100%;
  transform: translateX(-100%);
  transition: 0.3s;
}

.titleNavbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 10px;
  animation: fadeIn 3s;
}

.name {
  padding-left: 20px;
  color: $title;
  font-size: 10px;
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 700;
}

.line {
  width: 100%;
  border-top: 1px solid $colorNavbar;
}

.containerLinks {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  padding: 20px;
  color: $title;
  background-color: $ligth;
  transition: 0.3s;

  &:hover {
    background-color: $colorNavbar;
  }
}

.text {
  margin-left: 20px;
  transition: 0.3s;
}
