@import "styles/variable";

.open {
  overflow-y: auto;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: $ligth;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 46px -5px rgba(0, 0, 0, 0.589);
  transform: translateX(0%);
  transition: 0.3s;
}

.showMenu {
  position: fixed;
  z-index: 95;
  top: 0;
  left: 0;
  background-color: $ligth;
  width: 320px;
  height: 100%;
  transform: translateX(-100%);
  transition: 0.3s;
}

.titleNavbar {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: fadeIn 3s;
}

.imageProfile {
  border-radius: 100px;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.name {
  text-transform: capitalize;
  color: $title;
  font-size: 12px;
  font-family: $sourceSans;
  font-weight: 700;
}

.email {
  color: $title;
  font-size: 12px;
  font-family: $sourceSans;
  font-weight: 700;
  margin-bottom: 10px;
}

.line {
  width: 100%;
  border-top: 1px solid $primaryLight;
}

.containerLinks {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  padding: 20px;
  color: $title;
  transition: 0.3s;

  &:hover {
    background-color: $primaryLight;
  }
}

.text {
  margin-left: 20px;
  transition: 0.3s;
}

.backgroundMenu {
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s ease;
}
