@import 'styles/mixings';

.mainTitle {
    z-index: 100;
    line-height: 50px;
    font-size: 36px;
    color: $title;
    padding: 50px;
    align-self: center;
    @include site-font(title, 700);
  
    @include media-breakpoint-between(lg, xl) {
      line-height: 50px;
      font-size: 36px;
    }
  
    @include media-breakpoint-between(sm, md) {
      line-height: 40px;
      font-size: 30px;
    }
  
    @include media-breakpoint-only(xs) {
      line-height: 35px;
      font-size: 30px;
      margin-top: 0;
    }
  }
  
  
.asksPage {
    justify-content: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }

.imagePNF {
  image-rendering: auto;
  width: 750px;
  align-self: center;;

  @include media-breakpoint-only(xs) {
    width: 500px;
  }
}


