@import 'styles/mixings';

.button {
  margin-top: 150px;
  padding-top: 100px;
}

.modalCard {
  display: none;

  &.openModal {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1500;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 500px;
    height: auto;
    padding: 10px;
    padding-bottom: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 30px 146px -5px rgba(0, 0, 0, 0.36);
  }
}

.showModal {
  display: flex;
  padding: 10px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 20px;
  padding: 20px;
  color: #001B61;
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 700;
}

.form {
  padding-left: 20px;
  padding-right: 20px;
}

.text {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  font-family: "Noto Sans HK", sans-serif;
  font-weight: 400;
  color: #5C6BC0;

  @include site-font('text', 400)
}

.displayNone {
  display: none;
}

.shadow {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: #000000;
  top: 0;
  left: 0;
  z-index: 1400;
  opacity: 0.6;
  cursor: pointer;
}

.containerButtonModals {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.inputForm {
  margin-top: 30px;
}