.containerFilters {
  margin-bottom: 15px;
  display: flex;
  margin-top: 40px;
  gap: 10px;
  justify-content: space-between;
  color: var(--color-icon-and-text);
}

.buttonFilter {
  border: none;
  color: var(--icon-and-text-selected);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  width: 55px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--background-secundary);

  &:hover {
    background-color: var(--color-text-light);
    color: var(--secundary-color);
    box-shadow: 0 7px 22px -2px rgba(0, 0, 0, 0.25);
  }

  &.disabled {
    background: #dddddd;
    color: var(--icon-and-text-selected);

    &:hover {
      background-color: var(--background-secundary);
      color: var(--secundary-color);
      box-shadow: 0 7px 22px -2px rgba(0, 0, 0, 0.25);
    }
  }

  &.active {
    background-color: var(--secundary-color);
    color: #ffffff;
    box-shadow: 0 7px 22px -2px rgba(0, 0, 0, 0.25);
  }

  &:focus {
    background-color: var(--icon-and-text-selected);
    transform: translateY(-0.25em);
    box-shadow: 0 7px 22px -2px rgba(0, 0, 0, 0.25);
  }

  &.circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  &.transparent {
    background-color: var(--button-transparent);
  }

  &.secundary {
    &:hover {
      background-color: var(--color-icon-and-text-hover);
      color: var(--color-icon-and-text);
    }
  }
}

.text {
  width: 100%;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: var(--title-font);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-top: 5px;
  padding: 10px;
}
