@import 'styles/variable.scss';

.containerLoading {
  margin-top: 250px;
}

.heart {
  margin-top: 50px;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  &.small {
    width: 50px;
    height: 50px;
  }
}

.heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: $secundaryTitle;
  animation: heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.heart div:after,
.heart div:before {
  content: ' ';
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: $secundaryTitle;
}
.heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
