.buttonsContainer {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
  background: white;
  z-index: 2500;
  display: flex;
  justify-content: center;
}

.button {
  padding: 20px 10px 20px 10px;
  display: flex;
  justify-content: center;
}
