@import 'styles/mixings.scss';

.layout {
  padding-top: 100px;
  padding-left: 450px;
  padding-right: 450px;

  @include media-breakpoint-only(md) {
    padding-left: 250px;
    padding-right: 250px;
  }

  @include media-breakpoint-only(sm) {
    padding-left: 200px;
    padding-right: 200px;
  }

  @include media-breakpoint-only(xs) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
