.layout {
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;

    // @include media-breakpoint-only(xs) {
    //     padding-left: 10px;
    //     padding-right: 10px;
    // }
}
