@import "../../../styles/mixings.scss";

.layout {
  padding: 165px 10px 10px 100px;
  width: 100%;
  z-index: 1;

  @include media-breakpoint-between(xs, sm) {
    width: 96%;
    padding: 165px 0 100px 70px;
  }

  @include media-breakpoint-between(sm, md) {
    width: 98%;
    padding: 145px 0px 10px 75px;
  }

  @include media-breakpoint-between(md, xl) {
    width: 98%;
    padding: 145px 50px 50px 10px;
  }
}
