@import "styles/mixings.scss";

.loading {
  display: flex;
  width: 100%;
  justify-content: center;
}

.cardLayout {
  margin-top: 25px;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;

  @include media-breakpoint-only(xs) {
    grid-gap: 15px;
    grid-template-columns: 33% 33%;
  }
}
