@import 'styles/mixings.scss';

.modalContainer {
  width: 320px;

  @include media-breakpoint-only(xs) {
    width: 260px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: var(--title-font);
  color: var(--title);
  font-size: 25px;
}

.close {
  margin-top: 10px;
  cursor: pointer;
}
