@import 'styles/mixings.scss';

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 150px;
  padding-left: 150px;

  @include media-breakpoint-down(sm) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.title {
  color: $title;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;

  @include media-breakpoint-only(xs) {
    font-size: 22px;
  }
}

.errorLogin {
  margin-top: 5px;
  font-size: 12px;
  color: red;
}

.inputForm {
  margin-top: 20px;
}

.buttonLogin {
  margin-top: 20px;
}

.buttonSocialLogin {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

.forgotPassword {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.textForgot,
.textSingIn {
  cursor: pointer;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
