@import 'styles/mixings.scss';

.login {
  padding-right: 100px;
  padding-left: 100px;

  @include media-breakpoint-down(sm) {
    padding-right: 50px;
    padding-left: 50px;
  }
}

.centerLogin {
  margin-top: 25%;

  @include media-breakpoint-down(sm) {
    margin-top: 20%;
  }
}

.title {
  color: $title;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 30px;

  @include media-breakpoint-only(xs) {
    font-size: 22px;
  }
}

.inputForm {
  margin-top: 20px;
}

.buttonLogin {
  margin-top: 20px;
}

.buttonSocialLogin {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

.forgotPassword {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.textForgot,
.textSingIn {
  cursor: pointer;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
