@import 'styles/mixings.scss';

.containerMedicalItems {
  padding: 25px;
  display: flex;
  flex-direction: column;
  animation: 3s ease;

  @include media-breakpoint-only(md) {
    padding: 25px;
  }

  @include media-breakpoint-only(sm) {
    padding: 20px;
  }

  @include media-breakpoint-only(xs) {
    padding: 20px;
  }
}
