@import 'styles/mixings';
@import 'styles/variable';

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;

  @include media-breakpoint-down(sm) {
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}

.textColor {
  color: $title;
}
