@import "../../../styles/mixings.scss";

.modalContainer {
  width: 620px;

  @include media-breakpoint-only(xs) {
    width: 310px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  font-family: var(--main-font);
  font-size: 15px;
}

.close {
  color: var(--primary-color-text) !important;
  margin-top: 10px;
  cursor: pointer;
}
