@import "../../../styles/mixings.scss";

.containerInput {
  position: relative;
}

.input {
  width: 100%;
  margin-top: 2px;
  border: 1px solid var(--input-border);
  padding: 12px 16px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  font-family: var(--main-font);
  box-sizing: border-box;
  height: 48px;
  background-color: var(--input-backgound);

  &:focus {
    outline: 0;
    border-radius: 4px;
    border: 1px solid var(--input-focus);
  }

  &:disabled {
    background-color: var(--button-disabled);
  }

  &:hover {
    border-radius: 4px;
    border: 1px solid var(--input-hover);
  }

  &::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: var(--input-placeholder);
    font-family: var(--main-font);
  }

  &.isError {
    border: 1px solid var(--input-error);
  }

  .viewPassword {
    color: var(--input-icon-eye-password);
    position: absolute;
    right: 12px;
    top: 42px;
    cursor: pointer;
  }

  .containerIcon {
    cursor: pointer;
    top: 10px;
    right: 15px;
    position: absolute;
  }

  input[type="date"] {
    padding-left: 20px;
    padding-right: 20px;
  }

  input[type="date"]::-webkit-clear-button {
    font-size: 16px;
  }

  input[type="date"]::-webkit-inner-spin-button {
    height: 30px;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 18px;
  }

  input[type="date"]::-webkit-calendar-picker-indicator:hover {
    color: var(--bright-pink);
    cursor: pointer;
  }
}
