@import 'styles/mixings';

.containerTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userImage {
  width: 100%;
  image-orientation: from-image;
  object-fit: cover;
  height: 400px;
  border-radius: 3px;
}

.containerCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-template-rows: auto;
  grid-template-areas: 
    "contact contact"
    "requirementsToAdopt aboutUs";

  @include media-breakpoint-down(md) {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 10px;
  }
}

.layourCard {
  padding-top: 15px;
}

.image {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.contact {
  grid-area: contact;
}

.requirementsToAdopt {
  grid-area: requirementsToAdopt;
}

.aboutUs {
  grid-area: aboutUs;
}