@import "styles/mixings";

.title {
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  @include site-font("text", 600);
  color: $secundaryLight;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
