@import 'styles/mixings';

.containerImagePreview {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.containerImage {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.imagePreview {
  cursor: pointer;
  padding: 10px;
  width: 150px;
  height: 150px;
  animation-name: fadeIn;
  object-fit: cover;
  animation-duration: 500ms;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border-radius: 15px;

  &:hover {
    opacity: 0.3;
  }
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: $colorLight;
  cursor: pointer;
  border-radius: 15px;

  &:hover {
    opacity: 1;
  }
}

.containerIcon {
  width: 150px;
  height: 150px;
}

.iconImage {
  transition: 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: $ligth;
}

.colInputImage {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;

  @include media-breakpoint-down(sm) {
    text-align: center;
    padding: 20px;
    width: 100%;
  }
}

.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  + .jsLabelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer;

    .icon:before {
      content: '\f093';
    }
    &.hasFile {
      margin-left: 20px;
      .icon:before {
        content: '\f00c';
        color: #5aac7b;
      }
    }
  }
}

.btnTertiary {
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  padding: 0;
  line-height: 40px;
  width: 200px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid $borderPrimary;
  transition: 0.5s;

  &:hover,
  &:focus {
    color: lighten(#555, 20%);
    border: 2px solid $secundary;
  }
}

.icon {
  margin-right: 10px;
}
