@import 'styles/mixings';

.containerTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.userImage {
  width: 100%;
  object-fit: cover;
  height: 400px;
  border-radius: 3px;
}

.containerCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

  @include media-breakpoint-down(md) {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }
}

.layourCard {
  padding-top: 15px;
}

.containerPets {
  display: flex;
  justify-content: center;

  @include media-breakpoint-only(xs) {
    flex-direction: column;
  }
}

.buttonsSwich {
  margin-top: 25px;
  padding-left: 5px;
  padding-right: 5px;

  @include media-breakpoint-down(md) {
    padding-left: 5px;
    padding-right: 5px;
  }
}
