.goTo {
  cursor: pointer;
  margin-bottom: 10px;
  width: 120px;
  display: flex;
  align-items: center;
  margin-top: -10px;
  color: var(--title);
}

.buttonSearch {
  font-family: var(--text-font);
  margin-left: 5px;
  font-size: 16px;
  color: var(--title);
  text-decoration: none;
  text-transform: none;
}
