/* sizes */
$xxl: 1920px;
$xl: 1440px;
$lg: 1240px;
$md: 992px;
$sm: 768px;
/* sizes */

@mixin media-breakpoint-only($viewport) {
  @if $viewport == xs {
    @media (max-width: $sm - 1px) {
      @content;
    }
  }

  @if $viewport == sm {
    @media (min-width: $sm) and (max-width: $md - 1px) {
      @content;
    }
  }

  @if $viewport == md {
    @media (min-width: $md) and (max-width: $lg - 1px) {
      @content;
    }
  }

  @if $viewport == xl {
    @media (min-width: $lg) and (max-width: $xl) {
      @content;
    }
  }

  @if $viewport == xxl {
    @media (min-width: $xl + 1) and (max-width: $xxl) {
      @content;
    }
  }
}
