:root {
  // Fonts
  --text-font: 'Lato', sans-serif;
  --title-font: 'Noto Sans KR', sans-serif;

  // Body
  --Background-body: #ffffff;

  // input
  --border-input-input: #5e92f3;
  --border-input-hover: #ed6193;

  // colors
  --primary-color: #001b61;
  --secundary-color: #ed6193;
  --third-color: #f3f3f3;

  --background-body: var(--background-primary);
  --background-primary: #f3f3f3;
  --background-white: #ffffff;
  --background-secundary: #dee0f8;

  //text
  --title: var(--primary-color);
  --color-text: var(--primary-color);
  --color-text-light: #ffffff;

  // error
  --errors: rgb(206, 0, 0);

  // warning
  --warning: #fdd835;

  //navbar
  --navbar: var(--background-secundary);

  // Buttons
  --button-selected: rgba(233, 233, 233, 0.123);
  --button-transparent: var(--transparent);
  --color-icon-and-text: var(--primary-color);
  --color-icon-and-text-hover: var(--background-primary);
  --background-button-primary: var(--background-secundary);
  --background-button-secundary: var(--secundary-color);

  // Menu simple
  --background-card-menu: var(--Background-body);

  //
  --transparent: #ffffff00;

  // shadows
  --shadow-cards: ;
}
