$backgroundApp: rgba(255, 255, 255, 0.98);

$primary: #8e99f3;
$borderPrimary: #ffd95a;
$cardPrimary: rgba(255, 255, 249, 0.89);

$secundaryTitle: #929be6;
$secundary: #5e92f3;
//$secundary: #ff867c;

$title: #001b61;
$filters: #5c6bc0;

$whatsaap: #00bfa5;

// Generals - Globals??
$ligth: rgb(255, 255, 255);
$colorLight: rgba(146, 154, 230, 0.3);

// Navbar
$colorNavbar: #f6f5ff;

// Message errors and success
$error: #f44336;
$success: forestgreen;

//Fonts
$NotoSansHk: 'Noto Sans HK', sans-serif;
$BowlbyOneSC: 'Bowlby One SC', cursive;
