@import 'styles/variable.scss';

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  text-transform: uppercase;
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 300;
  letter-spacing: 1.5px;
  background-color: $filters;
  color: $ligth;
  padding: 4px 12px 3px 15px;
  border-radius: 20px;
  font-size: 12px;
  min-width: 140px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: rgba(92, 107, 192, 0.482);
  }
}

.isAdopted {
  position: absolute;
  left: 10px;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-transform: uppercase;
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  background-color: rgba(255, 0, 0, 0.71);
  color: $ligth;
  padding: 0 12px 0 15px;
  border-radius: 20px;
  font-size: 10px;
  max-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.icons {
  margin-top: -4px;
  margin-left: 10px;
  transition: 3s;

  &:hover {
    color: rgba(255, 255, 255, 0.359);
  }
}