@import 'styles/variable';

.value {
  text-transform: capitalize;
  color: $title;
  padding-top: 5px;
  padding-bottom: 2px;
  border-bottom: 1px solid $borderPrimary;
  transition: 3ms;
}

.label {
  color: $secundaryTitle;
  transition: 3ms;
}
