@import 'styles/mixings.scss';

.body {
  margin-top: 30px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 10px rgba(129, 129, 129, 0.103);
  transition: 0.2s ease;
  background-color: var(--background-white);
  width: 100%;

  &:hover {
    box-shadow: 0px 0px 12px 10px rgba(70, 70, 70, 0.11);
  }

  &.open {
    height: auto;
  }
}

.header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  align-items: center;

  &.open {
    border-bottom: 1px solid var(--secundary-color);
  }
}

.icon {
  width: 30px;
  height: 30px;
  text-align: center;
  color: var(--title);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1ms ease;

  &.open {
    transform: rotate(180deg);
  }
}

.text {
  padding: 25px;
  opacity: 0;
  animation: 3s ease;

  &.open {
    opacity: 1;
  }
}

.titleContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  margin-left: 20px;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 14px;
  color: var(--secundary-color);
  font-family: var(--title-font);

  @include media-breakpoint-only(xs) {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 180px;
    margin-left: 8px;

    &.open {
      text-overflow: none;
      white-space: pre-wrap;
      overflow: none;
      width: 100%;
    }
  }
}
