@import 'styles/mixings.scss';

.containerVaccine {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffdbe8;
}

.vaccine {
  margin-top: 5px;
  color: var(--title);
  font-family: var(--text-font);
  display: flex;
  font-size: 16px;
  justify-content: flex-start;
  align-items: center;
}

.name {
  margin-left: 12px;
}

.date {
  margin-left: 12px;
}
