@import 'styles/mixings.scss';

.register {
  padding-right: 100px;
  padding-left: 100px;

  @include media-breakpoint-down(sm) {
    padding-right: 50px;
    padding-left: 50px;
  }
}

.centerRegister {
  margin-top: 25%;

  @include media-breakpoint-down(sm) {
    margin-top: 30%;
  }
}

.title {
  color: $title;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 30px;

  @include media-breakpoint-only(xs) {
    font-size: 22px;
  }
}

.inputForm {
  margin-top: 20px;
}

.buttonRegister {
  margin-top: 20px;
}

.buttonSocialRegister {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

.forgotPassword {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.textForgot,
.textForgot {
  cursor: pointer;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.errorMessage {
  margin-top: 5px;
  font-size: 10px;
  transition: 0.3ms;
  color: red;
}

.successMessage {
  margin-top: 5px;
  transition: 0.3ms;
  font-size: 10px;
  color: green;
}
