.InputContainer {
  margin-top: 50px;
}

.fromNewSearch {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.buttonFilter {
  padding-right: 20px;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.containerCheckbox {
  padding-left: 30px;
  padding-top: 20px;
}
