.notesContainer {
  border-bottom: solid var(--secundary-color) 1px;
  padding: 25px;
}

.titleNotes {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 14px;
  font-family: var(--title-font);
  color: var(--secundary-color);
}

.textNotes {
  color: var(--primary-color);
  font-weight: 400;
  font-family: var(--text-font);
}

.dateNotes {
  color: var(--primary-color);
  font-weight: 400;
  font-family: var(--text-font);
}

.containerHeaderNotes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
