@import "../../../styles/mixings.scss";

.containerInput {
  position: relative;
}

.input {
  width: 100%;
  margin-top: 5px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  font-family: var(--main-font);
  box-sizing: border-box;
  background-color: var(--input-backgound);

  &:focus {
    outline: 0;
    border-radius: 4px;
    border: 1px solid var(--input-focus);
  }

  &:hover {
    border-radius: 4px;
    border: 1px solid var(--input-hover);
  }

  &::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: var(--input-placeholder);
    font-family: var(--main-font);
  }

  &.isError {
    border: 1px solid var(--input-error);
  }
}

.textarea {
  padding: 12px 16px;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--main-font);
}
