@import 'styles/mixings';

.container {
  position: fixed;
  top: 70px;
  width: 50px;
  left: 0;

  @include media-breakpoint-only(xs) {
    position: relative;
    top: 0;
    width: 50px;
    left: 0;
  }
}

.open {
  z-index: 500;
  width: 50px;
  height: 100%;
}

.showMenu {
  position: fixed;
  z-index: 95;
  background-color: white;
  width: 300px;
  height: 100%;
  transform: translateX(-100%);
  transition: 0.3s;
}

.titleNavbar {
  color: $title;
  font-size: 14px;
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 700;
  margin-left: 20px;
  animation: fadeIn 3s;
}

.containerSelects {
  z-index: 530;
  margin-left: 10px;
}
