@import 'styles/variable.scss';
@import 'styles/mixings.scss';

.container {
  margin-top: 150px;


  @include media-breakpoint-only(xs) {
    margin-top: 100px;
  }

  &.withMargin {
    margin-top: 0;

    @include media-breakpoint-only(xs) {
      margin-top: 0;
    }
  }
}

.title {
  color: $title;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 32px;
  font-weight: 700;
  padding-left: 10px;

  @include media-breakpoint-only(xs) {
    font-size: 22px;
  }
}

.subTitle {
  padding-left: 10px;
  color: $colorLight;
  font-size: 32px;
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 700;
  margin-top: -15px;

  @include media-breakpoint-only(xs) {
    font-size: 22px;
  }
}
