@import 'styles/variable.scss';
@import 'styles/mixings.scss';

.container {
  &.withMargin {
    margin-top: 0;

    @include media-breakpoint-only(xs) {
      margin-top: 0;
    }
  }
}

.title {
  color: $title;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 32px;
  font-weight: 700;

  @include media-breakpoint-only(xs) {
    font-size: 18px;
  }
}

.subTitle {
  color: $colorLight;
  font-size: 32px;
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 700;
  margin-top: 10px;

  @include media-breakpoint-only(xs) {
    font-size: 22px;
  }
}

.rolText {
  color: $primary;
}
