@import '../../../styles/variable.scss';

.container {
  margin-top: 150px;
  padding-left: 215px;
  padding-right: 150px;
}

.title {
  color: $title;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.subTitle {
    color: $colorLight;
  font-size: 32px;
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 700;
  margin-top: -15px;
}
