@import "styles/mixings.scss";

.containerGoogleAutocomplete {
  display: grid;
  margin-top: 50px;
  grid-template-columns: 1fr;

  @include media-breakpoint-only(xs) {
    padding-top: 10px;
  }
}

.container {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;

  @include media-breakpoint-only(xs) {
    grid-template-columns: 1fr;
    justify-content: center;
    padding-top: 10px;
  }
}
