@import 'styles/mixings';

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;

  @include media-breakpoint-down(sm) {
    grid-template-columns: 100%;
  }
}