@import 'styles/variable';

.containerButton {
  cursor: pointer;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  align-self: center;
  padding-top: 10%;
}

.up {
  display: flex;
  color: $secundaryLight;
  transition: 3ms;
  font-size: 25px;

  &:hover {
    color: $borderPrimary;
  }
}

