.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-left: 250px;
  padding-right: 250px;
}

.btnSearch {
  margin-top: 40px;
  margin-left: 45px;
  width: 100%;
}

.select1 {
  margin-top: 30px;
  width: 40%;
}

.select2 {
  margin-top: 30px;
  width: 40%;
}

.select3 {
  margin-top: 30px;
  width: 40%;
}

.select4 {
  margin-top: 30px;
  width: 40%;
}