@import "styles/mixings";

.title {
  color: $title;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 32px;
  font-weight: 700;

  @include media-breakpoint-only(xs) {
    font-size: 22px;
  }
}
