@import "styles/mixings.scss";

.containerInfo {
  margin-top: 30px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20px 10px 30px;
}

.borderImage {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: $secundary solid 2px;
  border-radius: 100px;
  height: 134px;
  width: 134px;
}

.imgCard {
  height: 128px;
  width: 128px;
  border-radius: 100px;
  object-fit: cover;
}

.name {
  text-transform: capitalize;
  color: #001b61;
  display: flex;
  justify-content: flex-start;
  font-family: "Noto Sans HK", sans-serif;
  font-size: 22px;
  margin-left: 20px;
  font-weight: 700;
  letter-spacing: 0.85px;
  text-align: justify;

  @include media-breakpoint-down(xxl) {
    margin-left: 0;
    margin-top: 20px;
    justify-content: center;
  }
}

.textHistory {
  margin-top: 15px;
  font-size: 14px;
  color: rgba(0, 27, 97, 0.74);
  letter-spacing: 0.37px;
  line-height: 18px;
  font-weight: 400;

  @include media-breakpoint-down(lg) {
    text-align: left;
    justify-content: center;
  }
}

.line {
  margin-top: 15px;
  width: 100%;
  border: $primaryNavbar 1px solid;
}

.containerButtos {
  justify-content: space-evenly;
  display: flex;
  width: 96%;
  align-items: center;
  height: 50px;
  padding: 2%;
  gap: 10px;
}

.buttonAction {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: $secundary;
  color: $ligth;
  border: none;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  transition: 0.1s;

  &:hover {
    color: $title;
    background-color: $primaryNavbar;
    box-shadow: 0 7px 22px -2px rgba(0, 0, 0, 0.25);
  }
}

.tableInfo {
  padding: 10px 20px 10px 30px;
  display: grid;
  grid-template-columns: auto auto auto;

  @include media-breakpoint-only(md) {
    padding: 10px 10px 10px 30px;
  }

  @include media-breakpoint-down(xs) {
    padding: 10px 10px 10px 20px;
  }
}

.titleItem {
  font-size: 14px;
  text-transform: uppercase;
  @include site-font("text", 300);
  color: $labelLight;
}

.infoItem {
  @include site-font("text", 600);
  font-size: 18px;
  text-transform: capitalize;
  color: $title;
}

.emoji {
  margin-top: 40px;
  font-size: 20px;
}
