@import 'styles/mixings.scss';

.rowCard {
  padding: 24px;
}

.containerCard {
  position: relative;
  box-shadow: 0 1px 15px 0 rgba(0,0,0,0.13);
  border-radius: 10px;
  height: auto;
  max-width: 310px;
  min-width: 300px;
  flex: 1 1 1;
  margin-top: 30px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 28px rgba(0, 0, 0, 0.1), 0 2px 30px rgba(0, 0, 0, 0.1);
  }
}

.imgCard {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.title {
  color: #001b61;
  display: flex;
  justify-content: center;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 18px;
  margin-top: 10px;
  letter-spacing: 0.85px;
  text-align: justify;
}

.textHistory {
  margin-top: 15px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  font-size: 12px;
  color: rgba(0, 27, 97, 0.74);
  letter-spacing: 0.37px;
  line-height: 18px;
  font-weight: 700;
}
