.iconSecondary svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    stroke: #29786a !important;
    transition: all 0.3s ease;
    cursor: pointer;
}

.iconTertiary svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    stroke: #29786a !important;
    transition: all 0.3s ease;
    cursor: pointer;
}