@import 'styles/mixings.scss';
@import 'styles/globals.scss';

button:focus {
  outline: none;
}

.containerMenuLink {
  padding-top: 20px;
}

.btnCircle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $ligth;
  background-color: $ligth;
  border: none;
  border-radius: 100px;
  font-weight: 700;
  letter-spacing: 3px;
  height: 45px;
  width: 45px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s;
  font-size: 10px;
  text-decoration: none;

  &:hover {
    color: $title;
    background-color: $ligth;
    transform: translateY(-0.25em);
    width: 100%;
    box-shadow: 0 7px 22px -2px rgba(0, 0, 0, 0.25);
  }

  &:focus {
    box-shadow: 0 7px 22px -2px rgba(0, 0, 0, 0.25);
    transform: translateY(-0.25em);
    background-color: $filters;
    outline: 0;
  }
}

.icon {
  margin-left: 4px;
  color: $title;
}

.text {
  white-space: nowrap;
  padding-right: 30px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  color: black;
  margin-left: 20px;
  @include site-font('text', 600);
  font-size: 12px;
  width: 100%;
  transition: 0.3s;
  pointer-events: none;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.textNone {
  display: none;
}
