@import 'styles/variable.scss';
@import 'styles/mixings.scss';

.containerForgotPassword {
  display: grid;
  grid-template-columns: 50% 50%;
  height: auto;

  @include media-breakpoint-down(sm) {
    grid-template-columns: 100%;
  }
}

.containerForm {
  padding-right: 100px;
  padding-left: 100px;

  @include media-breakpoint-down(sm) {
    padding-right: 50px;
    padding-left: 50px;
  }
}

.imageInformationForgotPassword {
  object-fit: cover;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.imageInformation {
  width: 100%;
  height: auto;
}

.forgotPassword {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}