@import 'styles/mixings';

.textLink {
  cursor: pointer;
  padding: 30px;
  @include site-font('text', 500);
  font-size: 12px;
  letter-spacing: 1px;

  &:hover {
    transition: 3ms;
    color: $secundary;
  }
}