.text {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 2px;
  font-family: var(--main-font);
  color: var(--primary-900);

  &.center {
    text-align: center;
  }

  &.bold {
    font-weight: 600;
  }

  &.medium {
    font-weight: 500;
  }

  &.regular {
    font-weight: 400;
  }

  &.thin {
    font-weight: 300;
  }
}
