@import "styles/mixings";

.container {
  padding: 20px 8px 12px 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $colorLight;

  @include media-breakpoint-only(xs) {
    padding: 0 0 5px 0;
  }
}

.containerSwitch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.containerAnswer {
  position: relative;
}

.answer {
  position: absolute;
  font-size: 10px;
  top: -8px;
  left: -22px;

  &.isYes {
    font-size: 9px;
    top: -8px;
    left: -39px;

    @media (max-width: 500px) {
      top: -10px;
      left: -40px;
    }
  }

  @media (max-width: 500px) {
    top: -9px;
    left: -26px;
  }
}

.switch {
  padding-right: 20px;
  margin-top: -7px;
}

.value {
  color: $title;
  padding-top: 5px;
  padding-bottom: 2px;
}

.labelSwitch {
  cursor: pointer;
  color: $title;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 5px;
  padding-bottom: 2px;
}

.label {
  color: $title;
  padding-top: 5px;
  padding-bottom: 2px;
}

.valueAndLabel {
  display: flex;
  justify-content: space-between;
}

.containerLabel {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 1px solid $borderPrimary;
}
