@import 'styles/mixings';

.centerForgotPassword {
  margin-top: 25%;

  @include media-breakpoint-down(sm) {
    margin-top: 20%;
  }
}

.title {
  color: $title;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 30px;

  @include media-breakpoint-only(xs) {
    font-size: 22px;
  }
}

.successEmail {
  margin-bottom: 2px;
  margin-top: 5px;
  font-size: 10px;
  color: forestgreen;
}

.inputForm {
  margin-top: 20px;
}

.buttonForgotPassword {
  margin-top: 20px;
}

.forgotPassword {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.textForgot,
.textSingIn {
  cursor: pointer;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.error {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 10px;
  color: red;
}
