@import 'styles/mixings';

.title {
    z-index: 100;
    line-height: 50px;
    font-size: 36px;
    color: $title;
    padding-top: 50px;
    padding-bottom: 20px;
    @include site-font(title, 700);
  
    @include media-breakpoint-between(lg, xl) {
      line-height: 50px;
      font-size: 36px;
    }
  
    @include media-breakpoint-between(sm, md) {
      line-height: 40px;
      font-size: 30px;
    }
  
    @include media-breakpoint-only(xs) {
      line-height: 35px;
      font-size: 30px;
      margin-top: 0;
    }
  }
  
 
  text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 25px;
    @include site-font(text, 400);
  
    @include media-breakpoint-between(sm, md) {
      font-size: 14px;
      line-height: 22px;
    }
  }
  