@import 'styles/mixings';

.containerForm {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include media-breakpoint-down(md) {
    justify-content: space-between;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.colMap {
  width: 100%;
  padding: 10px;

  @include media-breakpoint-down(sm) {
    text-align: center;
    padding: 20px;
    width: 100%;
  }
}

.colLarge {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;

  @include media-breakpoint-down(sm) {
    text-align: center;
    padding: 20px;
    width: 100%;
  }
}

.rowCheckbox {
  display: flex;
  justify-content: space-between;
  text-align: center;

  @include media-breakpoint-only(xs) {
    width: 0;
    justify-content: flex-start;
    flex-direction: column;
  }
}

.colCheckbox {
  width: 100%;
}

.label {
  margin-bottom: 10px;
  color: $secundaryTitle;
}

.col {
  width: 45.3%;
  padding: 11px;

  @include media-breakpoint-down(sm) {
    padding: 11px;
    width: 100%;
  }
}

.colContainerCheckbox {
  width: 47%;

  @include media-breakpoint-down(sm) {
    text-align: center;
    width: 100%;
  }
}

.containerMap {
  margin-bottom: 20px;
}

.containerButton {
  width: 100%;
}

.input {
  width: 100%;
  border: 1px solid $borderPrimary;
  box-shadow: none;
  padding: 10px 0 10px 0;
  border-radius: 4px;
  font-family: 'Noto Sans HK', sans-serif;
  box-sizing: border-box;

  &:focus {
    outline: 0;
    border-radius: 4px;
    border: 1px solid $secundary;
  }

  &:hover {
    border-radius: 4px;
    border: 1px solid $secundary;
  }

  &::placeholder {
    font-size: 14px;
    font-family: 'Noto Sans HK', sans-serif;
  }
}
