.containerNavegator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 8px;
  margin-top: 30px;
  box-shadow: 0px 0px 8px 2px rgba(129, 129, 129, 0.2);
}

.buttonNav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-transform: capitalize;
  font-family: var(--text-font);
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    border-radius: 8px;
    background-color: var(--background-secundary);
  }

  &.selected {
    border-radius: 8px;
    background-color: var(--background-secundary);
  }
}
