@import 'styles/mixings.scss';

.layout {
  display: flex;
  gap: 5px;
}

.galleryContainer {
}

.galleryContent {
  border-radius: 8px;
  width: 50%;
  object-fit: cover;
  height: auto;
  margin-top: 30px;
}
