@import 'styles/mixings';

.containerImage {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  @include media-breakpoint-down(md) {
    margin-top: 0;
  }
}

.col {
  display: flex;
  justify-content: center;
}

.buttonFile {
  margin-top: 30px;
}

.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  + .jsLabelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer;

    .icon:before {
      content: '\f093';
    }
    &.hasFile {
      margin-left: 20px;
      .icon:before {
        content: '\f00c';
        color: #5aac7b;
      }
    }
  }
}

.icon {
  margin-right: 10px;
}

.btnTertiary {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  padding: 0;
  line-height: 40px;
  width: 200px;
  height: 30px;
  border-radius: 50px;
  border: 2px solid #555;

  &:hover,
  &:focus {
    color: lighten(#555, 20%);
    border-color: lighten(#555, 20%);
  }
}

.containerForm {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include media-breakpoint-down(md) {
    justify-content: center;
  }
}

.colInput {
  margin-top: 30px;
  width: 48%;

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.colCheckBox {
  margin-top: 30px;
  width: 48%;

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.colbig {
  margin-top: 30px;
  width: 100%;
}

.title {
  text-transform: capitalize;
  font-size: 20px;
  color: $title;
  text-align: center;
  margin-top: 30px;
}
