@import 'styles/mixings';

.historyPets {
  padding: 20px 20px 20px 20px;
}

.titleHistory {
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  @include site-font('text', 600);
  color: $filters;
}

.history {
  letter-spacing: 1px;
  line-height: 22px;
  margin-top: 20px;
  font-size: 14px;
  @include site-font('text', 400);
  color: $filters;
}
