@import 'styles/mixings.scss';

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  @include media-breakpoint-only(xs) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.center {
  display: flex;
  justify-content: center;
}
