@import "styles/mixings.scss";

.container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 49% 49%;
  gap: 2%;

  @include media-breakpoint-only(xxl) {
    margin-top: 20px;
    grid-template-columns: 32% 32% 32%;
    gap: 3%;
  }

  @include media-breakpoint-only(xl) {
    margin-top: 20px;
    grid-template-columns: 49% 49%;
    gap: 2%;
  }

  @include media-breakpoint-only(lg) {
    margin-top: 20px;
    grid-template-columns: 49% 49%;
    gap: 2%;
  }

  @include media-breakpoint-only(md) {
    margin-top: 20px;
    grid-template-columns: 49% 49%;
    gap: 2%;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 20px;
    grid-template-columns: 100%;
  }
}

.center {
  display: flex;
  justify-content: center;
}
