@import 'styles/mixings';

.userImage {
  width: 100%;
  object-fit: cover;
  image-orientation: from-image;
  height: 400px;
  border-radius: 3px;
}

.containerCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

  @include media-breakpoint-down(md) {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }
}

.layourCard {
  padding-top: 15px;
}
