@import 'styles/variable.scss';
@import 'styles/mixings.scss';

.containerLogin {
  display: grid;
  grid-template-columns: 50% 50%;
  height: auto;

  @include media-breakpoint-down(sm) {
    grid-template-columns: 100%;
  }
}

.title {
  color: $title;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 30px;

  @include media-breakpoint-only(xs) {
    font-size: 22px;
  }
}

.login {
  padding-right: 100px;
  padding-left: 100px;

  @include media-breakpoint-down(sm) {
    padding-right: 50px;
    padding-left: 50px;
  }
}

.centerLogin {
  transform: translateY(50%);

  @include media-breakpoint-down(sm) {
    transform: translateY(25%);
  }
}

.inputForm {
  margin-top: 20px;
}

.imageInformationLogin {
  object-fit: cover;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.imageInformation {
  width: 100%;
  height: auto;
}

.buttonSocialLogin {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

.buttonLogin {
  margin-top: 20px;
}

.forgotPassword {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.textForgot,
.textSingIn {
  cursor: pointer;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
