@import 'styles/mixings';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-breakpoint-down(md) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.colums {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-top: 5px;

  @include media-breakpoint-down(md) {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }
}
