@import 'styles/mixings.scss';

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

  @include media-breakpoint-down(sm) {
    display: flex;
    padding-top: 15px;
    justify-content: center;
    flex-direction: column;
  }
}

.layourCard {
  padding-top: 15px;
}
