@import 'styles/mixings.scss';

.paragraph {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.text {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: var(--text-font);

  @include media-breakpoint-only(md) {
    font-size: 16px;
  }

  @include media-breakpoint-only(sm) {
    font-size: 16px;
  }

  @include media-breakpoint-only(xs) {
    font-size: 14px;
  }
}
