@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper-button-prev::after {
  left: 30;
  color: #d6f1e9;
  stroke-width: 10%;
  --swiper-navigation-size: 20px;
}

.swiper-button-next::after {
  right: 30;
  color: #d6f1e9;
  --swiper-navigation-size: 20px;
}

.swiper-pagination-bullet {
  background: #369683;
}

.swiper-navigation-size {
  width: calc(35 / 44 * 27);
  height: 35;
  margin-top: calc(0px - (35 / 2));
}

html body {
  font-family: Lato, sans-serif;
  height: 100vh;
}
