@import "../../../styles/mixings.scss";

.layout {
  padding: 0 10px 10px 10px;
  width: 100%;
  z-index: 1;

  @include media-breakpoint-between(xs, sm) {
    padding: 0 5px 0 0;
  }

  @include media-breakpoint-between(sm, md) {
    padding: 0 15px 10px 5px;
  }

  @include media-breakpoint-between(md, lg) {
    padding: 0 50px 0 50px;
  }
}
